h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, :after, :before {
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
    color: var(--body-color);
    background: var(--body-bg);
    transition: color,background .2s;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #69707a;
    text-align: left;
    background-color: #fff;
}
:root {
    --body-bg: #fff;
    --body-bg-40: hsla(0,0%,100%,0.4);
    --body-bg-70: hsla(0,0%,100%,0.7);
    --body-bg-transparent: hsla(0,0%,100%,0);
    --navtab-shadow: rgba(0,0,0,0.1);
    --body-color: #69707a;
    --gray: #69707a;
    --gray-mid: #848490;
    --gray-light: #aeb1b5;
    --gray-lighter: #d3d6db;
    --gray-lightest: #f3f5f8;
    --gray-dark: #222324;
    --alert-success-color: #155724;
    --alert-success-background: #d4edda;
    --alert-success-border: #a0d8ad;
    --alert-info-color: #0c5460;
    --alert-info-background: #d1ecf1;
    --alert-info-border: #99d6e0;
    --alert-danger-color: #5f0f0f;
    --alert-danger-background: #f1d2d2;
    --alert-danger-border: #df9b9b;
    --alert-warning-color: #856404;
    --alert-warning-background: #fff3cd;
    --alert-warning-border: #ffe492;
    --workload-lecture-bg: #bbdefb;
    --workload-lecture-color: #0a63ad;
    --workload-tutorial-bg: #dcedc8;
    --workload-tutorial-color: #5f892d;
    --workload-laboratory-bg: #d7ccc8;
    --workload-laboratory-color: #5d4a43;
    --workload-project-bg: #ffe0b2;
    --workload-project-color: #b26a00;
    --workload-preparation-bg: #ffcdd2;
    --workload-preparation-color: #cd0015;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}    
/*! CSS Used from: https://nusmods.com/assets/main.bf6fee56.css */

*,
:after,
:before {
    box-sizing: border-box;
}

footer {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0!important;
}

h2,
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #ff5138;
    text-decoration: none;
    background-color: initial;
}

a:hover {
    color: #eb1d00;
    text-decoration: underline;
}

svg {
    vertical-align: middle;
}

svg {
    overflow: hidden;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

[type=button],
[type=submit],
button {
    -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

h2 {
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
}

.col-sm-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width:576px) {
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--body-color);
    background-color: var(--body-bg);
    background-clip: padding-box;
    border: 1px solid var(--gray-lighter);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control::-ms-expand {
    background-color: initial;
    border: 0;
}

.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--body-color);
}

.form-control:focus {
    color: var(--body-color);
    background-color: var(--body-bg);
    border-color: #ff5138;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 81, 56, .25);
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: var(--body-bg);
    opacity: 1;
}

textarea.form-control {
    height: auto;
}

.form_space {
    margin-bottom: 1rem;
}

.form-text {
    display: block;
    margin-top: .25rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.htn {
    display: inline-block;
    font-weight: 400;
    color: #69707a;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: initial;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .htn {
        transition: none;
    }
}

.htn:hover {
    color: #69707a;
    text-decoration: none;
}

.htn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 81, 56, .25);
}

.htn:disabled {
    opacity: .65;
}

.htn-primary {
    color: #fff;
    background-color: #ff5138;
    border-color: #ff5138;
}

.htn-primary:focus,
.htn-primary:hover {
    color: #fff;
    background-color: #ff3012;
    border-color: #ff2405;
}

.htn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 107, 86, .5);
}

.htn-primary:disabled {
    color: #fff;
    background-color: #ff5138;
    border-color: #ff5138;
}

.htn-lg {
    padding: .5rem 1rem;
    line-height: 1.5;
    border-radius: .3rem;
    width: 100%;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close,
.close:hover {
    color: var(--gray-dark);
}

.close:hover {
    text-decoration: none;
}

button.close {
    padding: 0;
    background-color: initial;
    border: 0;
}

.text-muted {
    color: #6c757d!important;
}

.scrollable-y {
    overflow-x: hidden;
    overflow-y: auto;
}

a:hover {
    text-decoration: none;
}

input.form-control::-ms-input-placeholder {
    text-shadow: none;
    color: var(--gray-light);
}

input.form-control::placeholder {
    text-shadow: none;
    color: var(--gray-light);
}

.overlay_fit {
    animation: zoomIn .2s;
}

.overlay_positioning {
    position: absolute;
    top: 1rem;
    right: 1rem;
    left: 1rem;
    max-width: 40rem;
    max-height: calc(100% - 2rem);
    padding: 1rem;
    margin: 0 auto;
    background: var(--body-bg);
    box-shadow: 0 6px 24px rgba(0, 0, 0, .18);
}

@media (min-width:768px) {
    .overlay_positioning {
        top: 5%;
        max-height: 90%;
        padding: 2rem;
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1500;
    overflow-y: hidden;
    background: var(--body-bg-70);
}


/*! CSS Used from: https://nusmods.com/assets/module.3baac8d9.css */

.overlay_title {
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
}

.overlay_submit {
    margin-bottom: 1rem;
}


/*! CSS Used keyframes */

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

/*! CSS Used from: https://nusmods.com/assets/main.bf6fee56.css */
*,:after,:before{box-sizing:border-box;}