<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJPR6WEZ2L"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-QJPR6WEZ2L');
	</script>
	<meta charset="utf-8">
	<meta name="keywords" content="Claremont, claremont, 5C, 7C, 5Cs, 7Cs, Courses, courses">
	<meta name="description" content="Courses at The Claremont Colleges">
	<meta name="author" content="Hoang Chu">
	<link rel="shortcut icon" href="{{ url_for('static', filename='official_icon.ico') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='report.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_final.css') }}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="{{ url_for('static', filename='script_final.js') }}"></script>
	<script src="http://www.w3schools.com/lib/w3data.js"></script>
	<title>ClaremontCourses</title>
</head>

{% if cookies == "no" %}
<body class="theme-eighties" data-react-helmet="class">
{% else %}
<body class="theme-eighties mode-dark" data-react-helmet="class">
{% endif %}
	<!-- Wait to shine -->
	<div id="report_form" style="display:none;">
		<div class="overlay">
			<div class="overlay_positioning scrollable-y overlay_fit" tabindex="-1" role="dialog" aria-modal="true">
				<button class="close" type="button" aria-label="Close" onclick="displayReport()">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<line x1="18" y1="6" x2="6" y2="18"></line>
						<line x1="6" y1="6" x2="18" y2="18"></line>
					</svg>
				</button>
				<h2 class="overlay_title">Feedback for Main Page</h2>
				<form class="form-row" method="POST" enctype=multipart/form-data>
					<div class="form_space col-sm-12">
						<label for="report-error-email">Your 5C school email:</label>
						<input type="email" name="email" id="report-error-email" pattern=".+@.*\.*(claremontmckenna|hmc|pomona|pitzer|scrippscollege)\.edu" placeholder= "abc@xyz.(claremontmckenna/hmc/pomona/pitzer/scrippscollege).edu" class="form-control" required="" value="">
					</div>                    
					<div class="form_space col-sm-12">
						<label for="report-error-faculty">You're writing this form to report:</label>
						<select name="error_type" class="form-control" id="report-error-faculty" required="">
							<option value="Error(s)">Error(s)</option>
							<option value="Improvement(s)">Improvement(s)</option>
							<option value="New Idea(s)">New idea(s)</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<div class="form_space col-sm-12">
						<label for="report-error-message">Please describe in detail:</label>
						<textarea name="description" id="report-error-message" class="form-control" rows="8" required=""></textarea>
					</div>
					<div class="form_space col-sm-12">
						<label for="report-error-message">You can add a visual representation here:</label>
						<input type="file" rows="8" id="myFile" name="filename">
					</div>
					<footer class="overlay_submit col-sm-12">
						<button type="submit" name="submit" class="htn htn-primary htn-lg">Submit</button>
					</footer>
				</form>
			</div>
		</div>
	</div> 
	<!-- Wait to shine -->
	<div id="myCourses" style="display:none;">
		<div class="overlay">
			<div class="overlay_positioning scrollable-y overlay_fit" tabindex="-1" role="dialog" aria-modal="true">
				<button class="close" type="button" aria-label="Close" onclick="displayMyCourses()">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<line x1="18" y1="6" x2="6" y2="18"></line>
						<line x1="6" y1="6" x2="18" y2="18"></line>
					</svg>
				</button>
				<h2 class="overlay_title">My Courses</h2>
				<ul id="mycourses">
				</ul>
			</div>
		</div>
	</div>

	<div id="app">
		<div class="app-container">
			<nav class="navigation">
				<a aria-current="page" class="page_navigation active" title="Home" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 90" class="page_navigation_left">
						<title>ClaremontCourses</title> <img src="https://i.postimg.cc/mZVmKvS5/official-logo.png" class="object-contain h-24 w-full" alt="ClaremontCourses" width="150%"> </svg>
				</a>
				<div class="page_navigation_right">
					<div class="year_and_semester_box btn-svg" role="combobox" aria-expanded="false" aria-haspopup="listbox" aria-labelledby="downshift-0-label">
						<div class="btn-group btn-group-sm btn-block" onclick="darkmode()">
							<button type="button" class="btn btn-outline-primary btn-block">
							Night Mode </button>
						</div>						
					</div>
					<div class="year_and_semester">Academic Year {{academicyear}}, {{season}} Semester</div>
				</div>
			</nav>
			<div class="main-container">
				<nav class="findcourse">
					<a class="book book_2" href="/" aria-current="page">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
							<path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
						</svg> <span class="detail_left_navigation">Courses</span> </a>
				</nav>
				<main class="main-content">
					<div class="animation page-container">
						<div class="row">
							<div class="col">
								<div styles="display:block;margin:auto;">
									<p class="alert alert-warning" style="text-align:center;">
										<span class="fa fa-bell"></span> <strong>Notifications</strong><br>
										1. UPDATED <b>Fall 2021</b> courses. <br>
										2. Please spend some minutes <u>upload syllabi</u> you have for future reference.<br>
										3. You can now <u>Add a course</u> to My Courses. Click on My Courses to see added courses.<br>
										<!-- 3. The website will never have advertisement, but please donate (Paypal link on the top) if you want.  -->
									</p>
								</div>
								<div class="keep_sticky module-finder-input">
									<div style="display: flex;">
										<div class="btn-group btn-group-sm btn-block" style="margin-top: 8px;margin-right: 5px;">
											<button type="button" class="btn btn-outline-primary btn-block" onclick="displayReport()">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
													<path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"> </path>
													<line x1="12" y1="9" x2="12" y2="13"></line>
													<line x1="12" y1="17" x2="12.01" y2="17"></line>
												</svg> Feedback </button>
										</div>
										<form class="magnifier" style="width: 60%;" onSubmit="return false;">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="magnifier_top magnifier_bottom">
												<circle cx="11" cy="11" r="8" onclick="clickFunction()"></circle>
												<line x1="21" y1="21" x2="16.65" y2="16.65" onclick="searchFunction()"></line>
											</svg> {% if input != "" %} {% endif %}
											<input id="search-box" class="form-control form-control-lg" type="text" onfocus="clicked()" onkeydown="searchFunctionEnter(event)" autocomplete="off" placeholder='To search for an exact phrase, use quotes:" ".' spellcheck="true" value="{{input}}" onkeyup="checkBlankInput(event)"> </form>
											<div class="btn-group btn-group-sm btn-block" onclick="searchFunction()" style="width: 11.5%; margin-top: 9px; margin-left: 5px;">
											<button type="button" class="btn btn-outline-primary btn-block" style="width:36px;" onclick="searchFunction()">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="_2l2bSz6r _3J_m0kW3"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
											</button>										
											</div>
											<select id="searchlimit" class="form-control" style="width: 15%;margin-top:9px;">
												{% if selectType == "all" %}
													<option value="all" selected>Everything</option>
												{% else %}
													<option value="all">Everything</option>
												{% endif %}
												{% if selectType == "title" %}
													<option value="title" selected>Title</option>
												{% else %}
													<option value="title">Title</option>
												{% endif %}
												{% if selectType == "description" %}
													<option value="description" selected>Description</option>
												{% else %}
													<option value="description">Description</option>
												{% endif %}
												{% if selectType == "code" %}
													<option value="code" selected>Code</option>
												{% else %}
													<option value="code">Code</option>
												{% endif %}
											</select>												
										<label for="search-box" class="sr-only">Search</label>
									</div>
								</div>
								<div>
									<div class="btn-group btn-group-sm btn-block" style="margin-bottom: -10%;margin-right: 5px;">
										<button type="button" class="btn btn-outline-primary btn-block" onclick="displayMyCourses()">
											<img src="https://i.ibb.co/6YtkVgb/shopping-cart-1.png" style="position: relative;top: 10%;"alt="shopping-cart"/>
											My Courses </button>
									</div>									
									<div class="select_school">
										{{count}} courses found 
									</div>
									<ul class="whole_courses" id="list"> {% for course in courses %}
										<li class="list_courses">
											<div class="row">
												<div class="col-lg-8 col-md-12 col-sm-8">
													<header id="queries">
														<h2 class="header_courses">
                                             <a href="/{{course.code|replace('<mark>','')|replace('</mark>','')}}" target="_blank">
                                                <span id="{{course.college}}">
                                                   {{course.code|safe}}
                                                         
                                                </span>
                                                <span id="{{course.college}}">
                                                   {{course.title|safe}}
                                                </span>
                                             </a>
                                          </h2>
													<p> 
														<span>{{course.major|safe}}</span> • <span>{{course.college|safe}}</span> {% if course.link != none and course.link != "None" %}• <a href="{{course.link}}">Link</a>{% endif %} • <a href="/{{course.code|replace('<mark>','')|replace('</mark>','')}}" target="_blank" id="{{course.college}}"><u>See more</u></a>
													</p> 
													{% if course.fulfillRequirements != "" %} 
													{% for i in range(0,course.fulfillRequirements|length,3) %}
													<p style="margin-top: -20px;"> 
													{% for requirement in course.fulfillRequirements[i:i+3] -%} 
													{%- set id = requirement[:2]|replace(' ', '') -%} 
													{% if id|lower in ["po", "cm", "hm", "sc", "pz"] %} 
														<span id="{{id|lower}}" style="font-size: 100%;text-align: center;color: white;box-sizing: border-box;border-radius: 4px;
                                                   		border: none;font-size: 11px;height: 32px;line-height: 32px;margin-right: 5px;padding: 0 5px;
                                                   		position: relative;text-align: center;top: 0;vertical-align: top;">
                                                   	{% else %}
                                                   	<span style="font-size: 100%;text-align: center;background-color: #C0C0C0;box-sizing: border-box;border-radius: 4px;
                                                   		border: none;font-size: 11px;height: 32px;line-height: 32px;margin-right: 5px;padding: 0 5px;
                                                   		position: relative;text-align: center;top: 0;vertical-align: top;">
                                                   	{% endif %}
                                                   	{{requirement}}</span> 
													{%- endfor %} </p> {% endfor %} {% endif %} </header>
													<dl> <dt><b>Description:</b></dt>
														<p> {{course.description|safe}} </p>
													</dl>
												</div>
												<div class="col-lg-4 col-md-12 col-sm-4">
													<div class="header_semesters">
														<h4 style="text-align:center;margin-top: 4%;color: #ff5138;"><u>Semester offerings</u></h4><br>
														<div class="btn-group btn-group-sm" role="group" aria-label="Choices"> {% for semester in term1 %} {% if semester in course.term %}
															<button type="button" class="btn btn-primary">{{semester}}</button> {% else %}
															<button type="button" disabled class="btn btn-outline-primary">{{semester}}</button> {% endif %} {% endfor %} </div>
														<div class="btn-group btn-group-sm" role="group" aria-label="Choices"> {% for semester in term2 %} {% if semester in course.term %}
															<button type="button" class="btn btn-primary">{{semester}}</button> {% else %}
															<button type="button" disabled class="btn btn-outline-primary">{{semester}}</button> {% endif %} {% endfor %} </div>
													</div>
													<div class="header_others">
														<h4 style="text-align:center;margin-top: 4%;color: #ff5138;"><u>For off-campus students:</u></h4>
														<h4>Equivalents:</h4>{% for equivalent in course.equivalent %}
														{% if equivalent != "None" %}
														<a href="/{{equivalent}}"> {% endif %} <span id="{{equivalent[-2:]}}">
                                                      {{equivalent}}</span> </a>&nbsp; {% endfor %} </div>
													<div class="header_others">
														<h4>Professor(s) DOESN'T require PERM:</h4> {% for perm in course.perm %} {{perm}}
														<br> {% endfor %} </div>
													<div role="combobox" aria-expanded="false" aria-haspopup="listbox" aria-labelledby="downshift-16-label" style="margin-top: 10%;">
														<label for="add-to-timetable-AA1201" id="downshift-16-label" class="sr-only">Add course</label>
														{% set cookie = course.code|replace('<mark>', '')|replace('</mark>', '') %}
														<div class="btn-group btn-group-sm btn-block" onclick="addtoPlanner('{{cookie}}')">
															<button name="{{cookie}}" class="btn btn-outline-primary btn-block" id="planner{{cookie}}">
																{% if cookie in collected_ids %}
																<strong>Remove from My Courses</strong>
																{% else %}
																<strong>Add to My Courses</strong>
																{% endif %}
															</button>
														</div>
													</div>
												</div>
											</div>
										</li> {% endfor %} </ul>
								</div>
								<nav aria-label="Module search result pagination">
									<ul class="pagination justify-content-center changing_pages"> {% if previous %}
										<li>
											<button id="button" class="btn numbering_pages" onclick='changePage("{{Previous}}")'><a id="previous">Previous</a></button>
										</li> {% endif %}
										<li>
											<button id="button" class="btn numbering_pages">{{pagenumber}}</button>
										</li> {% if notlast %}
										<li>
											<button id="button" class="btn numbering_pages" onclick='changePage("{{next}}")'><a id="next">Next</a></button>
										</li> {% endif %} </ul>
								</nav>
							</div>
							<div class="col-md-4 col-lg-3">
								<div class="filtering_button filtering_button_2">
									<button type="button" class="mdc-fab material-icons" onclick="buttontoggle()">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-label="Open menu">
											<polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
										</svg>
									</button>
								</div>
								<div class="filtering_system">
									<div class="scrolling_filtering_system scrollable">
										<div class="header_filtering_system">
											<header class="clearing_filtering_system">
												<h3>Filters</h3>
												<a>
													<button class="btn btn-link btn-sm" type="button" onclick="clearAll()">Clear All</button>
												</a>
											</header>
											<a>
												<div style="text-align: center;">~Single Option Only~</div>
											</a>
											<div class="subject_filtering_system">
												<h4 class="items_filtering_system">College</h4>
												<label for="crit-subject" class="sr-only">School</label>
												<div class="seligo-container" data-mode="inline">
													<select id="schools" style="width: 75%;" class="filteringform seligo-desktop seligo-original form-control" onchange="schools(this)" data-type="single-column" data-seligo-label="School" tabindex="-1">
														<option value="all">All Claremont Colleges</option> 
														{% if "CMC" in schools %}
														<option value="CMC" selected>Claremont Mckenna</option> {% else %}
														<option value="CMC">Claremont McKenna</option> {% endif %} {% if "Harvey" in schools %}
														<option value="Harvey Mudd" selected>Harvey Mudd</option> {% else %}
														<option value="Harvey Mudd">Harvey Mudd</option> {% endif %} {% if "Pitzer" in schools %}
														<option value="Pitzer" selected>Pitzer</option> {% else %}
														<option value="Pitzer">Pitzer</option> {% endif %} {% if "Pomona" in schools %}
														<option value="Pomona" selected>Pomona</option> {% else %}
														<option value="Pomona">Pomona</option> {% endif %} {% if "Scripps" in schools %}
														<option value="Scripps" selected>Scripps</option> {% else %}
														<option value="Scripps">Scripps</option> {% endif %} {% if "Keck" in schools %}
														<option value="Keck" selected>Keck Science</option> {% else %}
														<option value="Keck">Keck Science</option> {% endif %} </select>
												</div>
											</div>											
											<div class="subject_filtering_system">
												<h4 class="items_filtering_system">Only courses offered in current semester</h4>
												<ul class="list-unstyled">
													<li class="formcheck_filtering_system form-check"> {% if semester == currentSemester %}
														<input class="form-check-input" id="semester" type="checkbox" onclick="year('{{currentSemester}}', 'semester=')" autocomplete="off" checked> {% else %}
														<input class="form-check-input" id="semester" type="checkbox" onclick="year('{{currentSemester}}', 'semester=')" autocomplete="off"> {% endif %}
														<label for="semester" class="form-check-label formcheck_labeling_system" onclick="year('{{currentSemester}}', 'semester=')">Yes </label>
													</li>
												</ul>
											</div>
											<div class="subject_filtering_system">
												<h4 class="items_filtering_system">Require Permission (PERM)</h4>
												<ul class="list-unstyled">
													<li class="formcheck_filtering_system form-check"> {% if perm == "no" %}
														<input class="form-check-input" id="perm" type="checkbox" onclick="perm('no')" autocomplete="off" checked> {% else %}
														<input class="form-check-input" id="perm" type="checkbox" onclick="perm('no')" autocomplete="off"> {% endif %}
														<label for="perm" class="form-check-label formcheck_labeling_system" onclick="perm('no')">No </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if perm == "yes" %}
														<input class="form-check-input" id="perm" type="checkbox" onclick="perm('yes')" checked autocomplete="off"> {% else %}
														<input class="form-check-input" id="perm" type="checkbox" onclick="perm('yes')" autocomplete="off"> {% endif %}
														<label class="form-check-label formcheck_labeling_system" onclick="perm('yes')">Yes </label>
													</li>
												</ul>
											</div>											
											<div class="subject_filtering_system">
												<h4 class="items_filtering_system">Has Corequisite Courses</h4>
												<ul class="list-unstyled">
													<li class="formcheck_filtering_system form-check"> {% if corequisiteclicked == "no" %}
														<input class="form-check-input" id="corequisite" type="checkbox" onclick="corequisites('no')" checked autocomplete="off"> {% else %}
														<input class="form-check-input" id="corequisite" type="checkbox" onclick="corequisites('no')" autocomplete="off"> {% endif %}
														<label id="corequisite" for="corequisite" class="form-check-label formcheck_labeling_system" onclick="corequisites('no')">No </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if corequisiteclicked == "yes" %}
														<input class="form-check-input" id="corequisite" type="checkbox" onclick="corequisites('yes')" checked autocomplete="off"> {% else %}
														<input class="form-check-input" id="corequisite" type="checkbox" onclick="corequisites('yes')" autocomplete="off"> {% endif %}
														<label id="corequisite" for="corequisite" class="form-check-label formcheck_labeling_system" onclick="corequisites('yes')">Yes </label>
													</li>
												</ul>
											</div>											
											<div class="subject_filtering_system">
												<h4 class="items_filtering_system">Has Concurrent Courses</h4>
												<ul class="list-unstyled">
													<li class="formcheck_filtering_system form-check"> {% if concurrentclicked == "no" %}
														<input class="form-check-input" id="concurrent" type="checkbox" onclick="concurrent('no')" checked autocomplete="off"> {% else %}
														<input class="form-check-input" id="concurrent" type="checkbox" onclick="concurrent('no')" autocomplete="off"> {% endif %}
														<label id="concurrent" for="concurrent" class="form-check-label formcheck_labeling_system" onclick="concurrent('no')">No </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if concurrentclicked == "yes" %}
														<input class="form-check-input" id="concurrent" type="checkbox" onclick="concurrent('yes')" checked autocomplete="off"> {% else %}
														<input class="form-check-input" id="concurrent" type="checkbox" onclick="concurrent('yes')" autocomplete="off"> {% endif %}
														<label id="concurrent" for="concurrent" class="form-check-label formcheck_labeling_system" onclick="concurrent('yes')">Yes </label>
													</li>
												</ul>
											</div>											
											<a><div style="text-align: center;">~Multiple Options Available~</div></a>
											<div class="subject_filtering_system">
												<h4 class="items_filtering_system">Subjects</h4>
												<div class="seligo-container" data-mode="inline">
													<select id="crit-subject" class="filteringform seligo-desktop seligo-original form-control" onchange="majors(this)" data-type="single-column" data-seligo-label="Subject" tabindex="-1" style="width: 60%;">
														<option id="majors">Subject</option> {% for i in range(majors|length) %}
														<option id="major" value="major{{i}}={{majors[i]}}">{{majors[i]}}</option> {% endfor %} </select>
												</div>
												<div data-qa="options" class="sk-item-list"> {% if majorclickeds|length > 0 %} {% for subject, no in majorclickeds %} {% set no = no|string %}
													<li class="formcheck_filtering_system form-check">
														<input id="{{no}}" class="form-check-input" type="checkbox" onclick="removemajors({{no}})" checked>
														<label for="major" class="form-check-label formcheck_labeling_system">{{subject}} </label>
													</li> {% endfor %} 
													{% endif %} </div>
											</div>
											<div class="subject_filtering_system">
												<h4 class="items_filtering_system">General Education Requirements</h4>
												<div class="seligo-container" data-mode="inline">
													<select id="crit-gened" class="filteringform seligo-desktop seligo-original form-control" data-type="single-column" data-seligo-label="Subject" tabindex="-1" style="width: 60%;" onchange="gened(this)">
														<option id="geneds">GenEd</option> {% for i in range(requirements|length) %}
														<option id="gened" value="gened{{i}}={{requirements[i]}}">{{requirements[i]}}</option> {% endfor %} </select>
												</div>
												<div data-qa="options" class="sk-item-list"> {% if genedclickeds|length > 0 %} {% for gened, no in genedclickeds %} {% set no = no|string %}
													<li class="formcheck_filtering_system form-check">
														<input id="{{no}}" class="form-check-input" type="checkbox" onclick="removegeneds({{no}})" checked>
														<label for="gened" class="form-check-label formcheck_labeling_system">{{gened}} </label>
													</li> {% endfor %} {% endif %} </div>
											</div>
											<div class="subject_filtering_system">
												<h4 class="items_filtering_system">Has Off-campus Equivalents At</h4>
												<div data-qa="options" class="sk-item-list">
													<li class="formcheck_filtering_system form-check"> {% if "mckenna" in colleges %}
														<input id="CM" class="form-check-input" type="checkbox" onclick="college0('mckenna')" checked autocomplete="off"> {% else %}
														<input id="CM" class="form-check-input" type="checkbox" onclick="college0('mckenna')" autocomplete="off"> {% endif %}
														<label for="CM" class="form-check-label formcheck_labeling_system">Claremont McKenna </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if "mudd" in colleges %}
														<input id="HM" class="form-check-input" type="checkbox" onclick="college1('mudd')" checked autocomplete="off"> {% else %}
														<input id="HM" class="form-check-input" type="checkbox" onclick="college1('mudd')" autocomplete="off"> {% endif %}
														<label for="HM" class="form-check-label formcheck_labeling_system">Harvey Mudd </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if "pomona" in colleges %}
														<input id="PO" class="form-check-input" type="checkbox" onclick="college3('pomona')" checked autocomplete="off"> {% else %}
														<input id="PO" class="form-check-input" type="checkbox" onclick="college3('pomona')" autocomplete="off"> {% endif %}
														<label for="PO" class="form-check-label formcheck_labeling_system">Pomona </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if "pitzer" in colleges %}
														<input id="PZ" class="form-check-input" type="checkbox" onclick="college2('pitzer')" checked autocomplete="off"> {% else %}
														<input id="PZ" class="form-check-input" type="checkbox" onclick="college2('pitzer')" autocomplete="off"> {% endif %}
														<label for="PZ" class="form-check-label formcheck_labeling_system">Pitzer </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if "scripps" in colleges %}
														<input id="SC" class="form-check-input" type="checkbox" onclick="college4('scripps')" checked autocomplete="off"> {% else %}
														<input id="SC" class="form-check-input" type="checkbox" onclick="college4('scripps')" autocomplete="off"> {% endif %}
														<label for="SC" class="form-check-label formcheck_labeling_system">Scripps </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if "keck" in colleges %}
														<input id="KS" class="form-check-input" type="checkbox" onclick="college5('keck')" checked autocomplete="off"> {% else %}
														<input id="KS" class="form-check-input" type="checkbox" onclick="college5('keck')"> {% endif %}
														<label for="KS" class="form-check-label formcheck_labeling_system">Keck Science </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if "none" in colleges %}
														<input id="none" class="form-check-input" type="checkbox" onclick="college6('none')" checked autocomplete="off"> {% else %}
														<input id="none" class="form-check-input" type="checkbox" onclick="college6('none')"> {% endif %}
														<label for="none" class="form-check-label formcheck_labeling_system">None </label>
													</li>
												</div>
											</div>
											<div class="subject_filtering_system">
												<h4 class="items_filtering_system">Number of prerequisites</h4>
												<div data-qa="options" class="sk-item-list">
													<li class="formcheck_filtering_system form-check"> {% if "0" in prereqs %}
														<input id="0" class="form-check-input" type="checkbox" onclick="prereqs(0,'noprereq0=')" checked autocomplete="off"> {% else %}
														<input id="0" class="form-check-input" type="checkbox" onclick="prereqs(0,'noprereq0=')" autocomplete="off"> {% endif %}
														<label for="0" class="form-check-label formcheck_labeling_system">0 </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if "1" in prereqs %}
														<input id="1" class="form-check-input" type="checkbox" onclick="prereqs(1,'noprereq1=')" checked autocomplete="off"> {% else %}
														<input id="1" class="form-check-input" type="checkbox" onclick="prereqs(1,'noprereq1=')" autocomplete="off"> {% endif %}
														<label for="1" class="form-check-label formcheck_labeling_system">1 </label>
													</li>
													<li class="formcheck_filtering_system form-check"> {% if "2" in prereqs %}
														<input id="2" class="form-check-input" type="checkbox" onclick="prereqs(2,'noprereq2=')" checked autocomplete="off"> {% else %}
														<input id="2" class="form-check-input" type="checkbox" onclick="prereqs(2,'noprereq2=')" autocomplete="off"> {% endif %}
														<label for="2" class="form-check-label formcheck_labeling_system">2+ </label>
													</li>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
			<div class="mdc-snackbar footer_bar" aria-live="assertive" aria-atomic="true" aria-hidden="false"></div>
			<footer class="footer-highlight_2 text-muted">
				<div class="footer-highlight_3">
					<p><a href="mailto:chu.hoang322@gmail.com">Contact Email</a></p>
					<p>Last updated Fall 2021.</p>
					<p>Contributor(s): Kye Shi from <a target="_blank" rel="noopener noreferrer" href="https://hyperschedule.io/">@hyperschedule.io</a>. </p>
					<p>Copyright © Hoang Chu. All rights reserved.</p>					
				</div>				
			</footer>
		</div>
	</div>
</body>
</html>