<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJPR6WEZ2L"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-QJPR6WEZ2L');
	</script>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{{ url_for('static', filename='official_icon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='specific_course_final.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='report.css')}}">
	<title>{{course.code}} - {{course.title}}</title>
	<script src="{{url_for('static', filename='course_specific_script_final.js')}}"></script>
</head>

{% if cookies == "no" %}
<body class="theme-eighties" data-react-helmet="class">
{% else %}
<body class="theme-eighties mode-dark" data-react-helmet="class">
{% endif %}
	<div id="report_form" style="display:none;">
        <div class="overlay">
            <div class="overlay_positioning scrollable-y overlay_fit" tabindex="-1" role="dialog" aria-modal="true">
                <button class="close" type="button" aria-label="Close" onclick="displayReport()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
                <h2 class="overlay_title">Feedback for {{code}}</h2>
                <form class="form-row" method="POST" enctype=multipart/form-data>
                    <div class="form_space col-sm-12">
                        <label for="report-error-email">Your 5C school email:</label>
                        <input type="email" name="email" id="report-error-email" pattern=".+@.*\.*(claremontmckenna|hmc|pomona|pitzer|scrippscollege)\.edu" placeholder= "abc@xyz.(claremontmckenna/hmc/pomona/pitzer/scrippscollege).edu" class="form-control" required="" value="">
                    </div>                    
                    <div class="form_space col-sm-12">
                        <label for="report-error-faculty">You're writing this form to report:</label>
                        <select name="error_type" class="form-control" id="report-error-faculty" required="">
                            <option value="Error(s)">Error(s)</option>
                            <option value="Improvement(s)">Improvement(s)</option>
                            <option value="New Idea(s)">New idea(s)</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form_space col-sm-12">
                        <label for="report-error-message">Please describe in detail:</label>
                        <textarea name="description" id="report-error-message" class="form-control" rows="8" required=""></textarea>
                    </div>
                    <div class="form_space col-sm-12">
                        <label for="report-error-message">You can add a visual representation here:</label>
                        <input type="file" rows="8" id="myFile" name="filename">
                    </div>
                    <footer class="overlay_submit col-sm-12">
                        <button type="submit" name="submit" class="htn htn-primary htn-lg">Submit</button>
                    </footer>
                </form>
            </div>
        </div>
	</div>  

<!-- Original -->
	<div id="app">
		<div class="app-container">
			<nav class="whole_courses">
				<a aria-current="page" class="header_courses active" title="Home" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 90" class="highlighting_header_courses">
						<title>{{course.code}} - {{course.title}}</title> <img src="https://i.postimg.cc/mZVmKvS5/official-logo.png" class="object-contain h-24 w-full" alt="ClaremontCourses" style="width: 150%;"> </svg>
				</a>
				<div class="year_and_semester">
					<div class="box_year_and_semester btn-svg" role="combobox" aria-expanded="false" aria-haspopup="listbox" aria-labelledby="downshift-0-label">
						<div class="year_and_semester_box btn-svg" role="combobox" aria-expanded="false" aria-haspopup="listbox" aria-labelledby="downshift-0-label">
							<div class="btn-group btn-group-sm btn-block" onclick="darkmode()">
								<button type="button" class="btn btn-outline-primary btn-block">
								Night Mode </button>
							</div>						
						</div>
					</div>
					<div class="_12rh-nSK">Academic Year {{academicyear}}, {{season}} Semester</div>
				</div>
			</nav>
			<div class="main-container">
				<nav class="specific_courses">
					<a class="header_specific_courses _3ZoblZtX" href="/" aria-current="page">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
							<path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
						</svg> <span class="_26_xcXLw">Courses</span> </a>
				</nav>
				<main class="main-content">
					<div class="page-container page_container_2">
						<div class="row">
							<div class="col-md-9">
								<div id="details" class="detail_1 detail_2">
									<header class="basicinfo_courses">
										<div style="position: relative;"> {% if course.college == "Claremont Mckenna" %}
											<h1 class="larger_title"><span class="Mckenna">{{course.code}}</>
                                                        </span>{{course.title}}</h1> {% elif course.college == "Harvey Mudd" %}
											<h1 class="larger_title"><span class="Mudd">{{course.code}}</>
                                                        </span>{{course.title}}</h1> {% elif course.college == "Keck Science" %}
											<h1 class="larger_title"><span class="Keck">{{course.code}}</>
                                                        </span>{{course.title}}</h1> {% else %}
											<h1 class="larger_title"><span class="{{course.college}}">{{course.code}}</>
                                                        </span>{{course.title}}
                                            </h1> {% endif %}
											<div class="report_errors_box" style="float: right;">
												<div class="btn-group btn-font btn-group-sm btn-block">
													<button type="button" class="btn btn-outline-primary btn-block" onclick="displayReport()">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="report_errors_icon">
															<path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"> </path>
															<line x1="12" y1="9" x2="12" y2="13"></line>
															<line x1="12" y1="17" x2="12.01" y2="17"></line>
														</svg> Feedback </button>
													</a>
												</div>												
											</div>
										</div>
										<p><span>{{course.major}}</span> • <span>{{course.college}}</span> {% if course.link != none and course.link != "None" %}• <span><a href="{{course.link}}">Link</a></span>{% endif %}</p> {% if course.fulfillRequirements|length > 0 %} {% for i in range(0,course.fulfillRequirements|length,3) %}
										<p> {% for requirement in course.fulfillRequirements[i:i+3] -%} {%- set id = requirement[:2]|replace(' ', '') -%} {% if id|lower in ["po", "cm", "hm", "sc", "pz"] %} <span id="{{id|lower}}" style="font-size: 100%;text-align: center;color: white;box-sizing: border-box;border-radius: 4px;
                                                    border: none;font-size: 11px;height: 32px;line-height: 32px;margin-right: 5px;padding: 0 5px;
                                                    position: relative;text-align: center;top: 0;vertical-align: top;">
                                                    {% else %}
                                                    <span style="font-size: 100%;text-align: center;background-color: #C0C0C0; color:white; box-sizing: border-box;border-radius: 4px;
                                                    border: none;font-size: 11px;height: 32px;line-height: 32px;margin-right: 5px;padding: 0 5px;
                                                    position: relative;text-align: center;top: 0;vertical-align: top;">
                                                    {% endif %}
                                                    {{requirement}}</span> {%- endfor %} </p> {% endfor %} {% endif %} </header>
									<section class="row prerequisite_title">
										<div class="col-sm-8">
											<p>{{course.description}}</p>
											<dl> <dt>Prerequisites</dt> {% if course.prereq != "" %}
												<dd>{{course.prereq}}</dd> {% else %}
												<dd>None</dd> {% endif %} </dl>
											<dl> <span style="float:right">
                                                    <dt>Suggested Concurrents</dt>
                                                    <dd>{{course.concurrent}}</dd>
                                                </span> <span style="float:left">
                                                    <dt>Suggested Corequisites</dt>
                                                    <dd>{{course.corequisite}}</dd>
                                                </span> </dl>
										</div>
										<div class="col-sm-4">
											<div class="list_semesters">
												<div class="btn-group btn-group-sm" role="group" aria-label="Choices"> {% for semester in term1 %} {% if semester in course.term %}
													<button type="button" class="btn btn-primary">{{semester}}</button> {% else %}
													<button type="button" disabled class="btn btn-outline-primary">{{semester}}</button> {% endif %} {% endfor %} </div>
												<div class="btn-group btn-group-sm" role="group" aria-label="Choices"> {% for semester in term2 %} {% if semester in course.term %}
													<button type="button" class="btn btn-primary">{{semester}}</button> {% else %}
													<button type="button" disabled class="btn btn-outline-primary">{{semester}}</button> {% endif %} {% endfor %} </div>
											</div>
											<div class="list_equivalents">
												<h3 class="specific_equivalents">Off-campus Equivalents</h3> {% if course.equivalent != ["None"] %} {% for equivalent in course.equivalent %}
												<a href="/{{equivalent}}"> <span id="{{equivalent[-2:]}}">
                                                        {{equivalent}}</span> </a>&nbsp; {% endfor %} {% else %} None {% endif %} </div>
											<div class="list_perms">
												<h4>Professor(s) DOESN'T require PERM:</h4> {% for perm in course.perm %} {{perm}}
												<br> {% endfor %} </div>
											<button class="btn"><i class="fa fa-download">
                                                    <a href="{{course.syllabus}}" style="font-weight: 900;">
                                                        Syllabus
                                                    </a></i></button>
											<a href="\{{course.code}}\upload">
												<button class="btn"><i class="fa">
                                                        <img src="https://img.icons8.com/metro/13/000000/upload.png" /><span style="color:#ff5138; font-weight: 900;"> Upload</span></i> </button>
											</a>											
											<div role="combobox" aria-expanded="false" aria-haspopup="listbox" aria-labelledby="downshift-16-label" style="margin-top: 10%;">
												<label for="add-to-timetable-AA1201" id="downshift-16-label" class="sr-only">Add course</label>
												<div class="btn-group btn-group-sm btn-block" onclick="addtoPlanner('{{course.code}}')">
													<button name="{{course.code}}" class="btn btn-outline-primary btn-block" id="planner">
														{%- if course.code in collected_ids -%}
														<strong>Remove from My Courses</strong>
														{% else %}
														<strong>Add to My Courses</strong>
														{% endif %}
												    </button>
											    </div>
										    </div>
										</div>
									</section>
								</div>
								<section class="detail_1" id="prerequisites">
									<h2 class="highlighting_header">Prerequisite Tree</h2>
									<p class="alert alert-warning">The visualization has a high but not 100% confidence. Always confirm with advisor/faculty.</p>
									<div styles="display:block;margin:auto;">
										<p class="alert alert-warning" style="text-align:center;"><strong>Protip:</strong> Prerequisite Tree Guidelines
											<img id="zoomCheck" src="https://i.postimg.cc/435cmgnC/prerequisite-tree.png"/>
										</p>
									</div>
									<div class="start_tree">
										<ul class="start_leadto"> {% if course.leadto != ["None"] %} {% for leadto in course.leadto -%}
											<li class="list_leadtos list_leadtos_2">
												<div class="tooltip pencil hoverable color-6 color-1">
													<a class="tree_box" href="/{{leadto|replace(' ', '')}}"> 
														{% set leadto = leadto|replace(' ', '') %}
														<span class="tooltipleft">
															{% for class in courses %}
															{% if class.code == leadto %}
																{% for term in terms %} 
																	{% if term in class.term %}
																		<span class="termsOffered">
																			{{term}}
																		</span> 
																	{% else %} 
																		{{term}} 
																	{% endif %} | 
																{%- endfor %} 
															{% endif %}
														{% endfor %} 
														</span> 
														{{leadto}} 
													</a>
												</div>
											</li> {% endfor %} </ul>
										<div class="pencil tree_center">needs</div> {% endif %}
										<ul class="list_concurrents list_concurrents_2">
											<div class="list_leadtos"> {% if course.concurrent_id != "" and course.concurrent_id != "None" %} <span style="height: 136px;">
                                                    <div class="pencil hoverable color-2 color-1 tooltip" style="display: block;">
                                                        <a class="tree_box" href="/{{course.concurrent_id}}">     
                                                            <span class="tooltiptop">
																{% for class in courses %}
																{% if class.code == course.concurrent_id %}
																	{% for term in terms %} 
																		{% if term in class.term %}
																			<span class="termsOffered">
																				{{term}}
																			</span> 
																		{% else %} 
																			{{term}} 
																		{% endif %} | 
																	{%- endfor %} 
																{% endif %}
															{% endfor %} 
															</span> {{course.concurrent_id}}</a>
											</div> <span style="margin-top: 5px;">+</span> {% endif %}
											<li> {% if (course.corequisite_id != '') and (course.concurrent_id == '') %}
												<div class="pencil hoverable color-1 tooltip" style="display: block; margin-top:80px;"> {% else %}
													<div class="pencil hoverable color-1 tooltip" style="display: block;"> {% endif %}
														<a class="tree_box" href="/{{course.code}}"> <span class="tooltipbottom">
                                                                    {% for term in terms %} 
                                                                    {% if term in course.term %}
                                                                    <span class="termsOffered">
                                                                      {{term}}
                                                                    </span> {% else %} {{term}} {% endif %} | {% endfor %} </span> {{course.code}} </a>
													</div> {% if course.corequisite_id != '' and course.corequisite_id != "None" %}
													<div class=".coreqs_id" style="display: block;"> | </div> {% for key, values in course.corequisite_id.items() %} {% if key == "and" %} {% set key = 'all of' %} {% else %} {% set key = 'one of' %} {% endif %}
													<div class="pencil tree_center">{{key}}</div> {% for v in values %}
													<div class="pencil hoverable color-4 color-1 tooltip" style="display: block;">
														<a class="tree_box" href="/{{v}}"> 
															<span class="tooltipbottom">
																{% for class in courses %}
																	{% if class.code == v %}
																		{% for term in terms %} 
																			{% if term in class.term %}
																				<span class="termsOffered">
																					{{term}}
																				</span> 
																			{% else %} 
																				{{term}} 
																			{% endif %} | 
																		{%- endfor %} 
																	{% endif %}
																{% endfor %} 
															</span> {{v}} </a>
													</div> {% endfor %} {% endfor %} {% endif %} </li>
											</span>
											<ul class="list_concurrents">
												<li class="list_leadtos"> {% if course.prereq_id is mapping %} {% set prereq_id = course.prereq_id %} {% for key, values in prereq_id.items() %} {% if key == "and" %} {% set key = 'all of' %} {% else %} {% set key = 'one of' %} {% endif %}
													<div class="pencil tree_center">{{key}}</div>
													<ul class="list_concurrents list_concurrents_2"> {% for v in values %}
														<li class="list_leadtos"> {% if v is mapping %} {% set prereq_id = v %} {% for key, values in prereq_id.items() %} {% if key == "and" %} {% set key = 'all of' %} {% else %} {% set key = 'one of' %} {% endif %}
															<div class="pencil tree_center">{{key}}</div>
															<ul class="list_concurrents list_concurrents_2"> {% for v in values %}
																<li class="list_leadtos"> {% if v is mapping %} {% set prereq_id = v %} {% for key, values in prereq_id.items() %} {% if key == "and" %} {% set key = 'all of' %} {% else %} {% set key = 'one of' %} {% endif %}
																	<div class="pencil tree_center">{{key}}</div>
																	<ul class="list_concurrents"> {% for v in values %}
																		<li class="list_leadtos">
																			<div class="pencil hoverable color-3 tooltip">
																				<a class="tree_box" href="/{{v}}">
																					<span class="tooltipright">
																						{% for class in courses %}
																							{% if class.code == v %}
																								{% for term in terms %} 
																									{% if term in class.term %}
																										<span class="termsOffered">
																											{{term}}
																										</span> 
																									{% else %} 
																										{{term}} 
																									{% endif %} | 
																								{%- endfor %} 
																							{% endif %}
																						{% endfor %}
																					</span> {{v}} </a>
																			</div>
																		</li> {% endfor %} </ul> {% endfor %} {% elif v != "" %}
																	<ul class="list_concurrents">
																		<li class="list_leadtos">
																			<div class="pencil hoverable color-3 tooltip">
																				<a class="tree_box" href="/{{v}}"> 
																					<span class="tooltipright">
																						{% for class in courses %}
																							{% if class.code == v %}
																								{% for term in terms %} 
																									{% if term in class.term %}
																										<span class="termsOffered">
																											{{term}}
																										</span> 
																									{% else %} 
																										{{term}} 
																									{% endif %} | 
																								{%- endfor %} 
																							{% endif %}
																						{% endfor %}
																					</span> {{v}} </a>
																			</div>
																		</li>
																	</ul> {% endif %} </li> {% endfor %} </ul> {% endfor %} {% elif v != "" %}
															<ul class="list_concurrents">
																<li class="list_leadtos">
																	<div class="pencil hoverable color-3 tooltip">
																		<a class="tree_box" href="/{{v}}"> 
																			<span class="tooltipright">
																				{% for class in courses %}
																				{% if class.code == v %}
																					{% for term in terms %} 
																						{% if term in class.term %}
																							<span class="termsOffered">
																								{{term}}
																							</span> 
																						{% else %} 
																							{{term}} 
																						{% endif %} | 
																					{%- endfor %} 
																				{% endif %}
																			{% endfor %}
																			</span> {{v}} </a>
																	</div>
																</li>
															</ul> {% endif %} </li> {% endfor %} </ul> {% endfor %} {% elif course.prereq_id != "" %}
													<ul class="list_concurrents">
														<li class="list_leadtos">
															<div class="pencil hoverable color-3 tooltip">
																<a class="tree_box" href="/{{course.prereq_id}}"> 
																	<span class="tooltipright">
																		{% for class in courses %}
																			{% if class.code == course.prereq_id %}
																				{% for term in terms %} 
																					{% if term in class.term %}
																						<span class="termsOffered">
																							{{term}}
																						</span> 
																					{% else %} 
																						{{term}} 
																					{% endif %} | 
																				{%- endfor %} 
																			{% endif %}
																		{% endfor %} 
																	</span> {{course.prereq_id}} </a>
															</div>
														</li>
													</ul> {% endif %} </li>
											</ul>
											</div>
										</ul>
									</div>
									<p class="alert alert-warning"> <strong>Protip:</strong> Hover course to see when was the course offered.</p>
								</section>
								<!-- <section class="detail_1" id="reviews">
									<h2 class="highlighting_header">Review and Discussion</h2>
									<div class="row">
										<div class="col-xl-4">
											<div class="alert alert-warning _1REI1W-5"> <strong>Please note:</strong>
												<ol class="notification_box">
													<li>At the start of your review, please state the semester taken, professor name, your expected grade, and your actual grade, respectively.</li>
													<li>The reviews are subjective, so please take all claims with a grain of salt.</li>
												</ol>
											</div>
										</div>
									</div>
								</section> -->
							</div>
							<aside class="col-md-3">
								<div class="navigation_right navigation_right_2">
									<button type="button" class="mdc-fab material-icons">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-label="Open menu">
											<line x1="3" y1="12" x2="21" y2="12"></line>
											<line x1="3" y1="6" x2="21" y2="6"></line>
											<line x1="3" y1="18" x2="21" y2="18"></line>
										</svg>
									</button>
								</div>
								<div class="navigation_right_3">
									<div class="navigation_right_4 scrollable">
										<nav class="navigation_right_5">
											<ul class="">
												<li><a href="#details" id="details">Details</a> </li>
												<li><a href="#prerequisites" id="prerequisites">Prerequisite Tree</a> </li>
												<!-- <li><a href="#reviews" id="reviews">Reviews</a> </li> -->
											</ul>
										</nav>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</main>
			</div>
			<div class="mdc-snackbar footer-highlight" aria-live="assertive" aria-atomic="true" aria-hidden="false"></div>
			<footer class="footer-highlight_2 text-muted">
				<div class="footer-highlight_3">
					<p><a href="mailto:chu.hoang322@gmail.com">Contact Email</a></p>
					<p>Last updated Fall 2021.</p>
					<p>Contributor(s): Kye Shi from <a target="_blank" rel="noopener noreferrer" href="https://hyperschedule.io/">@hyperschedule.io</a>. </p>
					<p>Copyright © Hoang Chu. All rights reserved.</p>
				</div>
			</footer>
		</div>
	</div>
</body>

</html>